@import '../../Style/Style';

@mixin formForSlice($WD, $HG, $BR, $BC) {
    width: $WD;
    height: $HG;
    border-radius: $BR;
    background-color: $BC;
}




.authorization {
    padding: $pagePadding;

    &_title {

        &--home {
            width: 110px;

            & a {
                text-decoration: none;
            }

            & button {
                display: flex;
                align-items: center;
                font-size: 18px;
                border: none;
                background-color: transparent;
                color: $colorText;
    
                & svg {
                    width: 20px;
                    height: 16px;
                    margin-right: 10px;
    
                    & path {
                        fill: $colorText;
                    }
                }
            }

            &:hover {

                & button {
                    color: rgba(103, 106, 113, 0.7);
                }

                & svg path {
                    fill: rgba(103, 106, 113, 0.7);
                }
            }
        }

        & h1 {
            text-align: center;
        }
    }

    &_main {
        width: 450px;
        margin: 0px auto;

        & a {
            text-decoration-color: $colorBlue;
        }

        &--button {
            @include formForSlice(100%, 56px, 5px, $colorBlue);
            font-size: 18px;
            font-weight: 700;
            margin: 20px 0px;
            border-color: transparent;
            color: white;

            &:active {
                background-color: rgba(0, 156, 180, 0.7);
            }
        }

        &--password-reset {
            font-size: $textFS;
            text-align: center;
            margin: 0px;
            color: $colorBlue;
        }
    }

    &_memory {
        display: flex;
        height: 20px;
        margin-top: 20px;
        font-size: $textFS;
        align-items: center;
        color: rgba(168, 170, 174, 1);

        &--active {
            background-color: $colorBlue !important;
            border-color: transparent !important;
        }

        & button {
            @include formForSlice(16px, 16px, 2px, white);
            margin-right: 10px;
            padding: 0px;
            border: 2px solid rgb(72, 72, 72);

            & svg {
                width: 80%;

                & path {
                    fill: white;
                }
            }
        }
    }

    &_additional-authorization {
        width: 448px;
        margin: 40px auto;

        & a {
            text-decoration-color: $colorTextTable;
            
            &:hover {
                text-decoration-color: $colorBlue;

                & p {
                    color: $colorBlue;
                    border: 2px solid $colorBlue;
                }
            }
        }

        &--ec, &--msi {
            width: 100%;
            padding: 20px 0px;
            font-size: 14px;
            text-align: center;
            border: 2px solid $colorLineTable;
            color: $colorTextTable;

        }
    }

    &_create {
        width: 450px;
        margin: 40px auto;
        text-align: center;

        & a {
            text-decoration-color: $colorBlue;
        }

        & p {
            margin: 0px;
            font-size: $textFS;
        }

        & span {
            color: $colorBlue;
        }
    }

    &_input-name {
        display: flex;
    }
}

.setOk {

    & input {
        color: black !important;
        border: 2px solid $colorGreen !important;
    }

    & svg path {
        fill: $colorGreen;
    }
}
