@import '../../../Style/Style';

@mixin transform($wd, $hg) {
    width: $wd;
    height: $hg;
  }

.information {
    padding: 80px 115px;
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: space-between;

    &_folders-icon {

        & svg {
            @include transform(505px, 502px);
        }
    }

    &_description {
        width: 450px;
        
        & p {
            font-size: 18px;
        }

        &--title {
            font-size: 48px;
            margin-bottom: 20px;
            color: rgba(35, 31, 32, 1);


        }

        &--register {
            margin: 20px 0px;

            & span {
                font-weight: 600;
                color: $colorBlue;
            }

            & p {
                margin: 0px;
            }
        }
    }

    &_search {
        height: 56px;
        display: flex;

        &--icon {
            border-radius: 5px 0px 0px 5px;
            background-color: white;
        }

        & svg {
            width: 18px;
            height: 18px;
            margin: 16px 13px 16px 15px;

            & path {
                fill: rgba(198, 198, 198, 1);
            }
        }

        & input {
            width: 280px;
            font-size: 14px;
            width: 305px;
            outline: none;
            border: none;
        }

        &--button {
            width: 120px;
            height: 56px;
            font-size: 18px;
            font-weight: 700;
            padding: 0px;
            border: transparent;
            border-radius: 0px 5px 5px 0px;
            background: $colorBlue;
            color: white;

            &:active {
                background: rgba(0, 156, 180, 0.7);
            }
        }
    }
}