.documents {
    padding: 80px 115px;

    &_title {
        margin-bottom: 40px;

        & h1 {
            font-size: 36px;
            margin: 10px 0px;
            color: rgba(35, 31, 32, 1);
        }

        & p {
            font-size: 18px;
            margin: 0px;
            color: rgba(77, 77, 79, 1);
        }

        & span {
            color: rgba(0, 156, 180, 1);
        }
    }
}