//color styles
$colorBlue: rgba(0, 156, 180, 1);
$colorRed: rgba(224, 55, 31, 1);
$colorGreen: rgba(0, 178, 71, 1);
$colorTitle: rgba(35, 31, 32, 1);
$colorText: rgba(103, 106, 113, 1);
$colorTextTable: rgba(77, 77, 79, 1);
$colorBackground: rgba(249, 249, 251, 1);
$colorLineTable: rgba(237, 237, 244, 1);


$pagePadding: 80px 115px;


//style for card
$cardWidth: 370px;
$cardImgHeight: 220px;

//style for title
$TitleTextFS: 36px;
$TitleTextMargin: 40px 0px;

//style table
$TableTextFS: 16px;


//style for text
$textFS: 16px;