@import '../../Style/Style';

%styleForTitle {
    font-size: 18px;
    padding-bottom: 5px;
    color: $colorTitle;
  }

%styleForText {
font-size: 14px;
margin: 5px 0px;
color: $colorTextTable;
}

@mixin FS-Color($FS, $Color) {
font-size: $FS;
color: $Color; 
}



.footer {
    padding: $pagePadding;

    &_data {
        display: flex;
        justify-content: space-between
    }

    &_logo-information {
        
        & svg {
            width: 170px;
            height: 40px;
        }

        &--information {
            @include FS-Color(14px, $colorText);
        }
    }

    &_developer {

        & h1 {
            @include FS-Color(16px, $colorTextTable);          
        }

        &--name {
            @include FS-Color(14px, $colorText);   
        }

        &--address {
            @include FS-Color(14px, rgba(168, 170, 174, 1));  
        }
    }

    &_information {
        display: flex;
        flex-direction: column;

        & button {
            @include FS-Color(14px, $colorTextTable); 
            text-align: left;
            border: none;
            background-color: transparent;
            padding: 5px 0px;

            &:hover {
                color: black;
            }
        }

        & h1 {
            @extend %styleForTitle;
        }

    }

    &_support {

        & h1 {
            @extend %styleForTitle;
        }

        & p {
            @extend %styleForText;
        }

        &--work-time {
            width: 270px;
            padding-bottom: 10px;
            border-bottom: 1px solid $colorLineTable;
            color: $colorText !important;
        }
    }

    &_contacts {

        & h1 {
            @extend %styleForTitle;
        }

        & p {
            @extend %styleForText;
        }

        & a {
            @include FS-Color(14px, $colorBlue); 
            padding: 5px 0px;
        }
    }

    &_rights {
        margin-top: 40px;
        padding: 20px 0px;
        text-align: center;
        border-top: 2px solid rgba(198, 198, 198, 1);
        color: rgba(198, 198, 198, 1);
    }
}