.footer {
    padding: 80px 115px;

    &_data {
        display: flex;
        justify-content: space-between
    }

    &_logo-information {
        
        & svg {
            width: 170px;
            height: 40px;
        }

        &--information {
            font-size: 14px;
            color: rgba(103, 106, 113, 1);
        }
    }

    &_developer {

        & h1 {
            font-size: 16px;
            color: rgba(77, 77, 79, 1);           
        }

        &--name {
            font-size: 14px;
            color: rgba(103, 106, 113, 1);
        }

        &--address {
            font-size: 14px;
            color: rgba(168, 170, 174, 1);
        }
    }

    &_information {
        display: flex;
        flex-direction: column;

        & button {
            font-size: 14px;
            text-align: left;
            border: none;
            background-color: transparent;
            padding: 5px 0px;
            color: rgba(77, 77, 79, 1);

            &:hover {
                color: rgb(0, 0, 0);
            }
        }

        & h1 {
            font-size: 18px;
            padding-bottom: 5px;
            color: rgba(35, 31, 32, 1);
        }

    }

    &_support {

        & h1 {
            font-size: 18px;
            padding-bottom: 5px;
            color: rgba(35, 31, 32, 1);
        }

        & p {
            font-size: 14px;
            color: rgba(77, 77, 79, 1);
            margin: 5px 0px;
        }

        &--work-time {
            width: 270px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(237, 237, 244, 1);
            color: rgba(103, 106, 113, 1) !important;
        }
    }

    &_contacts {

        & h1 {
            font-size: 18px;
            padding-bottom: 5px;
            color: rgba(35, 31, 32, 1);
        }

        & p {
            font-size: 14px;
            margin: 5px 0px;
            color: rgba(77, 77, 79, 1);
        }

        & a {
            font-size: 14px;
            padding: 5px 0px;
            color: rgba(0, 156, 180, 1);
        }
    }

    &_rights {
        margin-top: 40px;
        padding: 20px 0px;
        text-align: center;
        border-top: 2px solid rgba(198, 198, 198, 1);
        color: rgba(198, 198, 198, 1);
    }
}