@import '../../../Style/Style';

.questions {
    padding: $pagePadding;
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 229, 229);

    &_title {
        
        & h1 {
            font-size: $TitleTextFS;
            margin: 0px;
            color: $colorTitle;
        }
    }

    &_general-box {
        width: 50%;
    }
}

.one, .two, .three, .four, .five, .six, .seven {

    & p {
        font-size: 18px;
        color: $colorText;
    }

    &_button {
        height: 30px;
        margin: 10px 0px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-align: left;
        border: none;
        background-color: transparent;
        color: $colorTextTable;

        & svg {
            width: 15px;
            margin: auto 15px;

            & path {
                fill: $colorTextTable;
            }
        }

        &-open svg {
            transform: rotate(45deg);
        }
    }

    &_open {
        padding-left: 50px;
        display: block;
        width: 400px;
    }

    &_close{
        display: none;
    }
}