@import '../../../../Style/Style';

.registries_table {
    width: 100%;
    border-collapse: collapse;

    & tr {
        border-bottom: 1px solid $colorLineTable;
    }

    &--address {
        width: 77px;

        & a {
            color: $colorBlue;
        }
    }

    & svg {
        width: 15px;
        height: 25px;
        margin: 0px 10px;
    }

    & button {
        padding: 0px;
        border: none;
        background-color: transparent;
    }

    & thead {

        & tr {
            border-top: 1px solid $colorLineTable;
            border-bottom: 1px solid $colorLineTable;
        }

        & td {
            font-size: $TableTextFS;
            text-align: left;
            color: $colorBlue;
        }
    }

    & td {
        font-size: $TableTextFS;
        padding: 20px 0px;
    }
}