@import '../../../../Style/Style';

.documents_table {
    width: 100%;
    border-collapse: collapse;

    & tr {
        border-bottom: 1px solid $colorLineTable;
    }

    & td {
        padding: 20px 80px 20px 0px;
    }

    &--col-category {
        width: 170px;
    }
    &--col-name {
        width: 390px;
    }

    &_theab {

        & tr {
            border-top: 1px solid $colorLineTable;
            border-bottom: 1px solid $colorLineTable;
        }

        & svg path {
            fill: $colorBlue;
        }

        & th {
            font-size: 16px;
            text-align: left;
            padding: 20px 80px 20px 0px;
            color: $colorBlue;
        }
    }

    &--icon {
        padding: 0px !important;

        & svg {
            width: 30px;
            height: 20px;
            padding: 0px 5px;

            & path {
                fill: $colorBlue;
            }
        }
    }

    &--save {
        color: $colorBlue;
    }
}